.end-form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

.end-form-container input{
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

.end-form-container input::placeholder{
    color: #aaa;
}

.end-form-container #username{
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

#end-text, #timeout-text, #grades-text{
    font-size: 2.4rem;
    color: white;
    text-align: center;
}

#saveScoreBtn{
    border: none;
}

.fa-home{
    font-size: 2rem;
    margin-left: 1rem;
    color: rgb(28, 26, 26);
}